/* STYLING FOR BACKGROUND VIDEO */
video#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;    
    background-size: cover;
    }
    /* MEDIA QUERIES FOR RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
    video#bgVideo {
        object-fit: contain;
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 600px){
    body{
        background-color: black;
    }
    video#bgVideo {
        object-fit: contain;
        width: 120%;
        height: auto;
        top: 0;
        left: -50px;  
}
}
@media screen and (width: 844px){
    video#bgVideo {
        object-fit: contain;
        width: 100%;
        height: auto;
        top: -10%;  
}
}
